<div id="<%= dom_id ventum %>">
  <p>
    <strong>Fecha:</strong>
    <%= ventum.fecha %>
  </p>

  <p>
    <strong>Cliente:</strong>
    <%= ventum.cliente_id %>
  </p>

  <p>
    <strong>Producto:</strong>
    <%= ventum.producto_id %>
  </p>

  <p>
    <strong>Cantidad m2:</strong>
    <%= ventum.cantidad_m2 %>
  </p>

  <p>
    <strong>Piezas vendidas:</strong>
    <%= ventum.piezas_vendidas %>
  </p>

  <p>
    <strong>Cajas vendidas:</strong>
    <%= ventum.cajas_vendidas %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= ventum.total %>
  </p>

</div>
