<div id="<%= dom_id remission_note %>">
  <p>
    <strong>Sale:</strong>
    <%= remission_note.sale_id %>
  </p>

  <p>
    <strong>Warehouse:</strong>
    <%= remission_note.warehouse_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= remission_note.date %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= remission_note.client_id %>
  </p>

  <p>
    <strong>Client phone:</strong>
    <%= remission_note.client_phone %>
  </p>

  <p>
    <strong>Delivery address:</strong>
    <%= remission_note.delivery_address %>
  </p>

  <p>
    <strong>Warehouse manager:</strong>
    <%= remission_note.warehouse_manager %>
  </p>

  <p>
    <strong>Driver:</strong>
    <%= remission_note.driver %>
  </p>

  <p>
    <strong>Total weight:</strong>
    <%= remission_note.total_weight %>
  </p>

</div>
