<p style="color: green"><%= notice %></p>

<%= render @remission_note %>

<div>
  <%= link_to "Edit this remission note", edit_remission_note_path(@remission_note) %> |
  <%= link_to "Back to remission notes", remission_notes_path %>

  <%= button_to "Destroy this remission note", @remission_note, method: :delete %>
</div>
