<div id="<%= dom_id payment %>">
  <p>
    <strong>Sale:</strong>
    <%= payment.sale_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= payment.date %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= payment.amount %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= payment.type %>
  </p>

  <p>
    <strong>Method:</strong>
    <%= payment.method %>
  </p>

</div>
