<div id="<%= dom_id producto %>">
  <p>
    <strong>Nombre:</strong>
    <%= producto.nombre %>
  </p>

  <p>
    <strong>Categoria:</strong>
    <%= producto.categoria %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= producto.descripcion %>
  </p>

  <p>
    <strong>Unidades por caja:</strong>
    <%= producto.unidades_por_caja %>
  </p>

  <p>
    <strong>Area por caja:</strong>
    <%= producto.area_por_caja %>
  </p>

  <p>
    <strong>Precio por m2:</strong>
    <%= producto.precio_por_m2 %>
  </p>

  <p>
    <strong>Proveedor:</strong>
    <%= producto.proveedor_id %>
  </p>

</div>
