<%= form_with(model: transfer) do |form| %>
  <% if transfer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(transfer.errors.count, "error") %> prohibited this transfer from being saved:</h2>

      <ul>
        <% transfer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :origin_warehouse_id, style: "display: block" %>
    <%= form.text_field :origin_warehouse_id %>
  </div>

  <div>
    <%= form.label :destination_warehouse_id, style: "display: block" %>
    <%= form.text_field :destination_warehouse_id %>
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.datetime_field :date %>
  </div>

  <div>
    <%= form.label :total, style: "display: block" %>
    <%= form.text_field :total %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
