<div id="<%= dom_id transfer %>">
  <p>
    <strong>Origin warehouse:</strong>
    <%= transfer.origin_warehouse_id %>
  </p>

  <p>
    <strong>Destination warehouse:</strong>
    <%= transfer.destination_warehouse_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= transfer.date %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= transfer.total %>
  </p>

</div>
