<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= product.stock %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= product.unit %>
  </p>

  <p>
    <strong>Weight per box:</strong>
    <%= product.weight_per_box %>
  </p>

  <p>
    <strong>M2 per box:</strong>
    <%= product.m2_per_box %>
  </p>

  <p>
    <strong>Pieces per box:</strong>
    <%= product.pieces_per_box %>
  </p>

</div>
