<%= form_with(model: inventario) do |form| %>
  <% if inventario.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(inventario.errors.count, "error") %> prohibited this inventario from being saved:</h2>

      <ul>
        <% inventario.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :producto_id, style: "display: block" %>
    <%= form.text_field :producto_id %>
  </div>

  <div>
    <%= form.label :cajas_completas, style: "display: block" %>
    <%= form.number_field :cajas_completas %>
  </div>

  <div>
    <%= form.label :piezas_sueltas, style: "display: block" %>
    <%= form.number_field :piezas_sueltas %>
  </div>

  <div>
    <%= form.label :area_total_m2, style: "display: block" %>
    <%= form.text_field :area_total_m2 %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
