<div id="<%= dom_id inventario %>">
  <p>
    <strong>Producto:</strong>
    <%= inventario.producto_id %>
  </p>

  <p>
    <strong>Cajas completas:</strong>
    <%= inventario.cajas_completas %>
  </p>

  <p>
    <strong>Piezas sueltas:</strong>
    <%= inventario.piezas_sueltas %>
  </p>

  <p>
    <strong>Area total m2:</strong>
    <%= inventario.area_total_m2 %>
  </p>

</div>
