<div id="<%= dom_id orden_compra %>">
  <p>
    <strong>Fecha:</strong>
    <%= orden_compra.fecha %>
  </p>

  <p>
    <strong>Proveedor:</strong>
    <%= orden_compra.proveedor_id %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= orden_compra.total %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= orden_compra.estado %>
  </p>

</div>
