<div id="<%= dom_id sale %>">
  <p>
    <strong>Quotation:</strong>
    <%= sale.quotation_id %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= sale.client_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= sale.date %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= sale.total %>
  </p>

  <p>
    <strong>Payment status:</strong>
    <%= sale.payment_status %>
  </p>

  <p>
    <strong>Client name:</strong>
    <%= sale.client_name %>
  </p>

  <p>
    <strong>Client ci nit:</strong>
    <%= sale.client_ci_nit %>
  </p>

</div>
