<div id="<%= dom_id sale %>">
  <p>
    <strong>Cotización:</strong>
    <%= sale.quotation_id %>
  </p>

  <p>
    <strong>Cliente:</strong>
    <%= sale.client_id %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= sale.date %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= sale.total %>
  </p>

  <p>
    <strong>Estado de pago:</strong>
    <%= sale.payment_status %>
  </p>

  <p>
    <strong>Nombre del cliente:</strong>
    <%= sale.client_name %>
  </p>

</div>
