<div id="<%= dom_id sale_detail %>">
  <p>
    <strong>Sale:</strong>
    <%= sale_detail.sale_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= sale_detail.product_id %>
  </p>

  <p>
    <strong>Product name:</strong>
    <%= sale_detail.product_name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= sale_detail.quantity %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= sale_detail.unit %>
  </p>

  <p>
    <strong>Unit price:</strong>
    <%= sale_detail.unit_price %>
  </p>

  <p>
    <strong>Total price:</strong>
    <%= sale_detail.total_price %>
  </p>

  <p>
    <strong>Total price literal:</strong>
    <%= sale_detail.total_price_literal %>
  </p>

  <p>
    <strong>Boxes:</strong>
    <%= sale_detail.boxes %>
  </p>

  <p>
    <strong>Total weight:</strong>
    <%= sale_detail.total_weight %>
  </p>

</div>
